body{
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  line-height: 1.3;
  font-size: 25px;
}

/*=========== HEADER ===========*/

#header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-color: #202020;
  color: white;
  display: flex;
  align-items:center;
  padding-top: 50px;
  z-index: 1000;
}
#header img{
  height: 100px;
  padding-left: 60px;
}

#header a{
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  padding-left: 100px;
}

/*=========== BOTTOM-TABS ===========*/

#tabs-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 300px;
  background-color: #202020;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
}

#tabs-bottom img {
  width: 150px;
}

/*=========== HOME ===========*/

#home-body{
  padding-top: 300px;
  color: #202020;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

#home-body p{
  font-size: 1.6em;
}

/*=========== BUTTONS ===========*/

#button{
  width: 80%;
  background-color: #202020;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 350px;
}

#button a{
    text-decoration: none;
    color: white;
}

/*=========== STATS ===========*/

#stats{
  padding-top: 300px;
  color: #202020;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

#stats p{
  color: #202020;
  font-size: 1.6em;
}

table{
  color:#202020;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px;
  padding-top: 30px;
  font-size: 1.6em;
}

td{
  width: 50vw;
  padding: 0;
  cursor: pointer;
}

.input {
  width: 150px;
  height: 100px;
  font-size: 1.2em;
  text-align: center;
  border: 2px solid #202020;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #202020;
}

/*=========== PROGRAM - WEEK & DAY SELECTOR ===========*/

#program-container{
  padding-top: 300px;
  padding-bottom: 200px;
  color: #202020;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

#program-container #programDisplay p {
  text-align: center;
  color: #202020;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1.6em;
}

#selectors {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

#selectors label {
  font-size: 1.6em;
  margin-left: 20px;
  margin-right: 10px;
  color: #202020;
}

#selectors select {
  font-size: 1.6em;
  padding: 15px;
  margin: 10px;
  border: 2px solid #202020;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #202020;
  width: 150px;
}



/*=========== PROGRAM - OUTPUT ===========*/

#programDisplay table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 400px;
}

#programDisplay table td:nth-child(2),
#programDisplay table td:nth-child(3) {
  text-align: right;
}

#programDisplay th {
  min-height: 40px;
  padding: 12px;
  text-align: left;
  background-color: #202020;
  color: white;
}

#programDisplay td {
  min-height: 40px;
  padding: 8px;
  text-align: left;
}

/*=========== PROGRAM - CHECKBOXES ===========*/

th label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

th input.section-toggle {
  transform: scale(3); /* Make the tick box larger */
  cursor: pointer;
  margin-right: 30px;
}

input.section-toggle:checked {
  background-color: #202020;
  border-color: #202020;
}

#programDisplay tr.faded td {
  color: #aaa;
  text-decoration: line-through;
}